<section class="answers">
    <div class="container">
        <div class="answers__pre-title">
            <div class="answers__pre-title-text title-min">Результат прохождения теста</div>
            <div class="answers__pre-title-arrow">
                <img class="answers__pre-title-arrow-img" src=".././img/arrow-lite.png" alt="">
            </div>
            <div class="answers__pre-title-test-level" id="testLevel"></div>
        </div>
        <h1 class="answers__title"><span class="text_purple">Правильные ответы</span> к тесту</h1>
        <div class="answers__who">Тест выполнил(a) <span class="text_purple" id="whoCompleted"></span></div>
        <div class="answers__items" id="answersItems"></div>
    </div>
    <div class="answers__back">
        <a href="javascript:void(0)" class="answers__back-link link" id="answersLink">Обратно к моему результату теста</a>
        <div class="answers__back-arrow">
            <img src=".././img/arrow.png" alt="" class="answers__back-arrow-img">
        </div>
    </div>
</section>