<section class="choice">
    <div class="container choice__container">
        <div class="choice__content">
            <hi class="choice__title title">Выберите <span class="text_purple">тему теста</span></hi>
            <div class="choice__text">Чтобы начать тест, выберите одну из предложенных ниже тем.</div>
            <div class="choice__actions" id="choice__actions"></div>
        </div>
        <div class="choice__img">
            <img src="././img/choice_image.png" alt="" class="choice__img-image">
        </div>
    </div>
</section>
