<section class="main">
    <div class="container container__main">
        <div class="main__description">
            <h1 class="main__description-title">
                Проверь свои знания JavaScript вместе с <span class="text_purple">АйтилогияQuiz!</span>
            </h1>
            <div class="main__description-text">
                Мы поможем подготовиться к контрольному 
                заданию или тесту по JavaScript!
            </div>
            <div class="main__description-btn">
                <a href="#/signup" class="btn btn_purple description-btn">Начать тест</a>
            </div>
        </div>
        <div class="main__img">
            <img src=".././img/main_image.png" alt="" class="main__img-image">
        </div>
    </div>
</section>