<section class="form">
    <div class="container container__form">
        <div class="form__content">
            <hi class="form__title title">Регистрация</hi>
            <div class="form__ditails">
                <div class="form-group">
                    <input type="text" class="form-group__input" id="name" required>
                    <label for="name" class="form-group__label">Имя</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-group__input" id="last-name" required>
                    <label for="last-name" class="form-group__label">Фамилия</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-group__input" id="email" required>
                    <label for="email" class="form-group__label">Электронная почта</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-group__input" id="password" required>
                    <label for="password" class="form-group__label">Пароль</label>
                </div>
                <div class="form-agree">
                    <input type="checkbox" name="site-rules" id="site-rules" class="form-agree__input"> 
                    <label for="site-rules" class="form-agree__label">Я ознакомлен с <a href="#" class="form-agree__link">правилами сайта</a></label>
                </div>
                <div class="form__button">
                    <button disabled id="process" class="btn btn_purple form__btn">Перейти к выбору теста</button>
                </div>
                <div class="form-link">Уже зарегистрированы? <a href="#/login"  class="form-login__link">Войти</a></div>
            </div>
        </div>
        <div class="form__img">
            <img src=".././img/info_image.png" alt="" class="form__img-image">
        </div>
    </div>
</section>