<section class="test">
    <div class="container">
        <h1 class="test__title title-min" id="test-title"></h1>
        <div class="test__progress-bar" id="progress-bar"></div>
        <div class="test__question">
            <div class="test__question-title" id="question-title"></div>
            <div class="test__answer-options" id="answer-options"></div>
        </div>
        <div class="test__action">
            <button disabled class="btn test__btn-back btn_transparent" id="prevButton">Назад</button>
            <div class="test__timer">
                <div class="test__timer-text">Осталось времени:</div>
                <div class="test__timer-img" id="timer"></div>
            </div>
            <button disabled class="btn test__btn-further btn_transparent" id="nextButton">Далее</button>
        </div>
        <div class="test__skip-question">
            <a href="javascript:void(0)" class="test__skip-question-text link" id="passLink">Пропустить вопрос</a>
            <div class="test__skip-question-arrow">
                <img src=".././img/arrow.png" alt="" class="test__skip-question-arrow-img">
            </div>
        </div>
    </div>
</section> 